<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="idea.bios.datasource.mysql.OmahaMapper">
    <select id="batchGetChiTerm" resultType="java.lang.String">
        select str from omaha_term_only_chi limit #{offset}, #{limit};
    </select>

    <select id="batchGetBiosChiShortTerm" resultType="java.lang.String">
        select str from bios_ch_term_short limit #{offset}, #{limit};
    </select>

    <!-- 从seed库中获取数据 -->
    <select id="batchGetSeeds" resultType="idea.bios.datasource.mysql.dao.SeedDao">
        select * from data_crawler_seed
        where sourceId = #{sourceId}
        limit 100
    </select>

    <delete id="delSeedsByIds" parameterType="java.lang.Integer">
        delete from data_crawler_seed where id in 
        <foreach collection="idList" open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>


</mapper>